.pacman {
  position: absolute;
  width: 50px;
  height: 50px;
  padding: 0;
  margin: 0;
  z-index: 10;

  transition: top .18s linear, left .18s linear;
}

.pacman:focus {
  outline: none;
}

.pacman-right {  }
.pacman-left { transform: scaleX(-1); }
.pacman-up { transform: rotate(90deg) scaleX(-1); }
.pacman-down { transform: rotate(90deg); }