.ghost {
  position: absolute;
  width: 50px;
  height: 50px;
  z-index: 100;

  transition: top .36s linear, left .36s linear;
}

.ghost-red { fill: #E31F23}
.ghost-yellow { fill: #F8E536}
.ghost-blue { fill: #80CADE}
.ghost-pink { fill: #E5A1C6}

